// sidebar
$menuText:#ffffff;
$menuActiveText:#FFCA28;
$subMenuActiveText:#f4f4f5; //https://github.com/ElemeFE/element/issues/12951

/*$menuBg:#FFC107;
$menuHover: #ffa000;

$subMenuBg: #ffd54f;
$subMenuHover:#ffca28;*/

$menuBg:#90A4AE;
$menuHover: #B0BEC5;

$subMenuBg: #607D8B;
$subMenuHover:#78909C;

$sideBarWidth: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
